numpy
pandas
rdkit
chembl-client
tqdm
pyopenssl
ndg-httpsclient
pyasn1
chembl_webresource_client
padelpy
streamlit
                               # new 
streamlit
rdkit
scikit-learn
pandas
numpy
chembl_webresource_client
